@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}
@keyframes fadeout {
  0% {
    opacity: 1;
    visibility: visible;
  }

  99% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.fadeout {
  animation: fadeout 1s linear forwards;
}
@keyframes fadein {
  0% {
    opacity: 0;
    visibility: hidden;
  }

  99% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    visibility: visible;
  }
}

.fadein {
  animation: fadein 1s linear forwards;
}

.Try-button:hover:not(:disabled) .icon {
  transform: translateX(6px);
}
.Mode-button:hover:not(:disabled) .icon {
  transform: translateX(6px) rotate(-90deg);
}

.Mode-button:hover:not(:disabled) .icon-return {
  transform: translateX(6px) rotate(360deg);
}

.Mode-button:disabled {
  opacity: 0.5 !important;
}

.Try-button:hover:not(:disabled) .mask,
.Mode-button:hover:not(:disabled) .mask {
  transform: translateY(-28px);
}